@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.header_wrap {
  width: 100%;
  height: 60px;
  background-color: #b5c3b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.logo {
  font-family: "Pacifico", cursive;
  color: #ff5c35;
  font-size: 30px;
  margin-top: -10px;
}
.logo a {
  font-family: "Pacifico", cursive;
}

.user_icon {
  margin-right: 30px;
}

.menu_icon {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-left: 30px;
  z-index: 31;
}

.menu_icon::before,
.menu_icon::after,
.menu_icon div {
  content: "";
  background-color: #000;
  height: 4px;
  width: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 30;
  position: absolute;
}
.menu_icon::before {
  top: 0;
}
.menu_icon::after {
  bottom: 0;
}
.menu_icon div {
  top: 50%;
  transform: translateY(-50%);
}

.menu_icon.active::before {
  transform: rotate(45deg);
  top: 50%;
}

.menu_icon.active::after {
  transform: rotate(-45deg);
  bottom: 37%;
}
.menu_icon.active div {
  opacity: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: -25rem;
  width: 15rem;
  height: 100vh;
  background-color: #fff;
  transition: transform 0.3s ease;
  z-index: 30;
}

.menu.open {
  transform: translateX(25rem);
}

.menu ul {
  font-size: 20px;
  width: 100%;
  margin: auto;
  padding: 70px 40px;
}
.menu ul li {
  color: #000;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
}

.menu ul li a {
  font-size: 20px;
}
/* 서브 메뉴 초기 상태 */
.submenu_list {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  /* padding-left: 20px;
  margin-top: 5px; */
}

/* 서브 메뉴가 active일 때 보이게 */
.submenu_list.active {
  display: block;
  opacity: 1;
  max-height: 200px;
}
#hot {
  color: #ff5c35;
  margin-left: 20px;
  font-size: 20px;
  display: inline-block;
  width: 60px;
  background-color: #ffb19e;
  border-radius: 14px;
  text-align: center;
  padding: 5px;
}

#modal .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: background-color 0.3s ease;
}

#modal .background.active {
  display: block;
}
.menu_icon.active {
  background: transparent;
}
